<div class="vsf-bottom-navigation">
  <div class="vsf-bottom-navigation-element">
    <img src="../../assets/home.svg" alt="nav-home" class="vsf-bottom-navigation-element-img"/>
  </div>
  <div class="vsf-bottom-navigation-element">
    <img src="../../assets/search.svg" alt="nav-search" class="vsf-bottom-navigation-element-img"/>
  </div>
  <div class="vsf-bottom-navigation-element">
    <img src="../../assets/heart.svg" alt="nav-wishlist" class="vsf-bottom-navigation-element-img"/>
  </div>
  <div class="vsf-bottom-navigation-element">
    <img src="../../assets/profile.svg" alt="nav-profile" class="vsf-bottom-navigation-element-img"/>
  </div>
  <div class="vsf-bottom-navigation-element">
      <v-btn
        :v-show="true"
        color="pink"
        fab
        dark
        small
        absolute
        top
        right
      >
        <v-icon>add</v-icon>
      </v-btn>
  </div>
</div>