@import '~@vue-storefront/core/modules/storefront-ui/css/variables';

.vsf-header {
  @media ( max-width: $mobile-max ) {
    background: $c-bg-primary;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__nav {
    @media ( max-width: $mobile-max ) {
      display: none;
    }
  }

  &__search {
    @media ( max-width: $mobile-max ) {
      display: none;
    }
  }
  &__icon {
    @media ( max-width: $mobile-max ) {
      display: none;
    }
  }
}