@import 'variables/typography';
@import 'variables/breakpoints';

body {
  font-size: $body-font-size-desktop;
  @media ( max-width: $mobile-max ) {
    font-size: $body-font-size-mobile;
  }
}
.margin {
  margin: 5px;
}
.margin-x {
  margin-left: 5px;
  margin-right: 5px;
}
.margin-y {
  margin-top: 5px;
  margin-bottom: 5px;
}
.margin-left {
  margin-left: 5px;
}
.margin-right {
  margin-right: 5px;
}