@import '~@vue-storefront/core/modules/storefront-ui/css/variables';

.vsf-button {
  padding: 0.9375rem 2.5rem;
  font-size: 1.375rem;
  color: $c-button-text-primary;
  background-color: $c-button-bg-primary;
}